<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" type="text/css" href="/css/leaflet.css" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <meta name="viewport" content="width=device-width,initial-scale=1">

</head>
  <body>

    <section class="contents">
      <a href="/" id="logo"></a>  

      <div class="option">
        <label>Select a city:</label>
        <a href="#" class="city" data-id="wlg">
          <div class="number">04</div>
          <span class="code">WLG</span>
          <span class="tick">&#10004;</span>
        </a>
        <span class="city" data-id="akl">
          <div class="number">09</div>
          <span class="code">AKL</span>
          <span class="soon">soon</span>
        </span>
        <span class="city" data-id="chch">
          <div class="number">09</div>
          <span class="code">CHCH</span>
          <span class="soon">soon</span>
        </span>
      </div>

      <div class="option">
        <label>find me:</label>
        <ul>
          <li><a href="#">Retail</a></li>
          <li><a href="#">Nightlife</a></li>
          <li><a href="#">Food</a></li>
          <li><a href="#">Art</a></li>
          <li><a href="#">Landmarks</a></li>
          <li><a href="#">Skate Spots</a></li>
          <li><a href="#">Everything</a></li>
        </ul>
      </div>
    </section>

    <section id="map" class="extend loading" data-view="Map"></section>
    
    {% include js.html %}
  </body>
</html>
