<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" type="text/css" href="/css/style.css" />

</head>
  <body>
    <div class="down">
      <div class="grid-line horizontal"></div>
      <div class="grid-line horizontal"></div>
      <div class="grid-line horizontal"></div>
      <div class="grid-line horizontal"></div>
      <div class="grid-line horizontal"></div>
      <div class="grid-line horizontal"></div>
      <div class="grid-line horizontal"></div>
    </div>
    <div class="across">
      <div class="grid-line vertical"></div>
      <div class="grid-line vertical"></div>
      <div class="grid-line vertical"></div>
      <div class="grid-line vertical"></div>
      <div class="grid-line vertical"></div>
      <div class="grid-line vertical"></div>
      <div class="grid-line vertical"></div>
    </div>
    <a href="/" id="logo"></a>
    <nav role="main">
      <ul>
        <li class="city-select">
          <label>Select city:</label>
          <select>
            <option>04 — Wellington</option>
            <option disabled="disabled">09 — Auckland (soon)</option>
            <option disabled="disabled">03 — Christchurch (soon)</option>
          </select>
        </li>
      </ul>
    </nav>
    <div class="extend" id="home" data-view="Home">
      <div id="map"></div>
    </div>
    {% include js.html %}
  </body>
</html>
